body {
  background-color: #252525;
  color: #FFFFFF;
  font-family: raleway;
}

.blog_post > :not(h3) {
  background-color: #353535;
  padding: 1.5em;
  width: 90%;
  margin: auto;
}

.footnote-ref {
  color: #00a800;
  text-decoration: none;
}

.footnote-back {
  color: #00a800;
  padding-left: 5px;
  text-decoration: none;
}

#banner {
  position: relative;
  width: 100%;
}

#banner > img {
  display: block;
  margin: auto;
}

#banner > h1, h2 {
  position: absolute;
   top: 0px; 
   width: 100%; 
  text-align: center;
  font-family: VT323;
  color: #00a800;
  text-shadow: -1px 0px black, 0px 1px black,
                2px 2px black, 0px -1px black;
}

#banner > h2 {
   top: 30px; 
}
